@model TesteBludata.Model.EmpresaViewModel
<hr />
@using (Html.BeginForm("Create", "Empresa", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.NomeFantasia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.NomeFantasia, new { @class = "form-control", @placeholder = "Nome Fantasia" })
                @Html.ValidationMessageFor(m => m.NomeFantasia, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Estado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    var estados = new TesteBludata.DAO.Estado.EstadoDAO().Consultar();

                    var listItems = new List<SelectListItem>();

                    foreach (var estado in estados)
                    {
                        listItems.Add(new SelectListItem { Text = estado.Sigla, Value = estado.ID.ToString() });
                    }

                    @Html.DropDownListFor(m => m.Estado, listItems, new { @class = "form-control", @placeholder = "UF" })
                }
                @Html.ValidationMessageFor(m => m.Estado, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CNPJ, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control", @placeholder = "CNPJ" })
                @Html.ValidationMessageFor(m => m.CNPJ, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}
<div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}